# Compiled source #
###################
*.pyc
*.py~
.pytest_cache/*
.cache*

# Package Stuff #
#################
build/*
dist/*
mirages.egg-info/*

# Lists and images #
######################
*.list
*.list~
*.fits
*.yaml
*.yaml~
*.csv
*.txt~

# exceptions
!tests/test_data/*/*.list
!tests/test_data/*/*.yaml

# Other #
#########
.ipynb_checkpoints/*
examples/.ipynb_checkpoints/*
*.aptbackup
*.aptx
*.docx

# Files #
#########
OTECommissioning/*
dev_scripts/*
*config.json

# Docs build #
docs/_build
docs/_static
docs/_templates
