# Compiled source #
###################
*.pyc
*.py~
.pytest_cache/*

# Package Stuff #
#################
build/*
dist/*
mirage.egg-info/*

# Lists and images #
######################
*.list
*.list~
*.fits
*.yaml
*.yaml~
*.csv
*.txt~

# Other #
#########
.ipynb_checkpoints/*
mirage/examples/.ipynb_checkpoints/*
mirage/OTECommissioning/*
*.aptbackup
*.aptx
*.docx

# Files #
#########
ring_nebula.fits
mirage/ClassMaps.txt
mirage/examples/*.ipynb
mirage/scripts/apt_inputs_OLD.py
mirage/dev_scripts/*
mirage/config/siaf_config.json