include mirage/config/NIRCam_subarray_definitions.list
include mirage/config/NIRCam_zeropoints.list
include mirage/config/__init__.py
include mirage/config/dq_init.cfg
include mirage/config/linearity.cfg
include mirage/config/nircam_filter_pupil_pairings.list
include mirage/config/nircam_read_pattern_definitions.list
include mirage/config/refpix.cfg
include mirage/config/saturation.cfg
include mirage/config/superbias.cfg
include mirage/config/xtalk20150303g0.errorcut.txt
exclude mirage/version.py
