recursive-include mirage/config *
include tests/test_data/NIRISS/niriss_soss_substrip256_clear.yaml
include mirage/reference_files/jband_transmission.dat
include mirage/reference_files/alpha_lyr_stis_009.fits
include examples/niriss_soss_example_data/*
