asdf>=2.1.0
astropy>=4.0
astroquery>=0.3.8
bokeh>=2.2.3
batman-package>=2.4.6
crds>=7.4.1
grismconf>=1.24
gwcs>=0.11
healpy>=1.12.5
h5py>=2.8.0
hotsoss>=0.1.7
ipython>=7.18.1
jupyter>=1.0.0
jwst>=0.16.2
jwst-backgrounds>=1.1.1
jwxml>=0.3.0
lxml>=3.6.4
matplotlib>=3.0.0
NIRCAM-Gsim>=1.3b3
numpy>=1.16
photutils>=0.6
pysiaf>=0.6.1
pytest>=3.8.1
scipy>=1.1.0
sphinx>=2.1
synphot>=0.2.0
webbpsf>=0.9.0
pyyaml>=5.1.2
