asdf>=2.11.0
astropy>=5.0.4
astroquery>=0.4.6
bokeh>=2.2.3
batman-package>=2.4.8
crds>=11.12.0
grismconf>=1.32
h5py>=3.6.0
hotsoss>=0.1.7
ipython>=8.2.0
jupyter>=1.0.0
jwst>=1.4.4
jwst-backgrounds>=1.1.2
lxml>=4.8.0
matplotlib>=3.5.1
nircam_gsim>=1.60
numpy>=1.22.3
photutils>=1.4.0
pysiaf==0.15.0
pytest>=7.1.1
scipy>=1.8.0
sphinx>=4.5.0
synphot>=1.1.1
webbpsf>=1.0.0
pyyaml>=6.0
